/*--------------------------------------------------------------
# Nuestro primer CSS en curso FrontEnd
--------------------------------------------------------------*/

body {
    background: #fff;
    color: #444;
    font-family: "Open Sans", sans-serif;
  }
  
  a {
    color:green;
    text-decoration: none;
    font-size:larger;
    margin: 5px;
}
#divpie¨{
  color: black;
  background-color: green;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
  #divcabecera¨{
    color: black;
    background-color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  /*--------------------------------------------------------------
# Perzonalizando nuestro ID de HTML
--------------------------------------------------------------*/

#institucional {
    color: #444;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
}
  